.option-container {
}

@media (max-width: 992){
  .options-container{

  }
}

@media only screen and (max-device-width: 768px), (max-width: 992px) {
  .option-header {
    width: 100%;
    float: left;
    padding-top: 20px;
    margin-bottom: 15px;
  }


  .radio-item {
    text-overflow: none;
    margin-bottom: 15px;
    width: 33%;
    display: inline-block;
  }

  .radio-item-secondary {
  }

  .option-button {
    margin-top: 15px;
  }
}

@media only screen and (max-device-width: 768px) {
  .option-button {
    left: 50%;
    transform:translateX(-50%);
  }
}
@media only screen and (max-width 992px) {

}

form p {
  white-space: nowrap !important;
}
