.option-container {
}

@media (max-width: 992){
  .options-container{

  }
}

@media only screen and (max-device-width: 768px), (max-width: 992px) {
  .option-container {
    text-align: center;
  }

  .option-header {
    width: 100%;
    float: left;
    padding-top: 20px;
    margin-bottom: 15px;
  }

  h4, .option-option-header {
    text-align: left;
    margin-left: 35px;
  }

  .option-option-header:first-of-type {
    margin-top: 25px;
  }

  .radio-item {
    text-align:center;
    text-overflow: none;
    margin-bottom: 15px;
    width: 33%;
    display: inline-block;
  }

  .radio-item-secondary {
  }

  .option-button {
    margin-top: 15px;
  }
}

@media only screen and (max-device-width: 500px) {
  html {
    font-size: 2em;
  }
  .option-button {
    padding: .5em 2rem !important;
  }

  .option-button {
    height: auto;
  }

  form p {
  }

}
@media only screen and (max-width 992px) {

}

form p {
  white-space: nowrap !important;
}
