@media only screen and (min-width:  993px) {
  .option-parent {

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .top-level-container {
  }
}
@media only screen and (max-device-width: 768px) {
  .option-parent {
    margin-top: 100px;
  }
}


/*
@media (min-width: 601px) {
  .option-parent {
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
}
*/

